body
    background #fff

.login-form
    width 70%
    padding 50px
    margin auto
    display flex
    flex-direction column
    text-align center
    border 1px solid #c4c4c4
    border-radius 5%

.login-form__title
    margin 10px
    font-size 20px

input
    width 70%
    margin 30px
    height 30px
    padding 5px
    border 1px solid #c4c4c4

label
    width 80%
    margin auto

input:invalid
    border 1px solid #dd4949

input:hover
    border 1px solid #3390a5

input:focus
    border 1px solid #4edd49

.login-form__pass
    display inline-block

.login-form__login
    display inline-block

.login-form__submit
    padding 10px
    width 30%
    height 50px
    margin 20px auto
    border 1px solid black
    border-radius 5%
    vertical-align middle

.login-form__submit:hover
    background rgba(0, 0, 0, .1)

.login-form__submit:active
    -webkit-box-shadow: inset 0px 0px 74px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 74px -8px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 74px -8px rgba(0,0,0,0.75);
