.mentor-profile
    width 470px
    height 560px
    padding 30px
    border 1px solid rgba(0, 0, 0, 0.15)

.mentor-profile:hover
    -webkit-box-shadow 2px 3px 14px -3px rgba(0, 0, 0, .75)
    -moz-box-shadow 2px 3px 14px -3px rgba(0, 0, 0, .75)
    box-shadow 2px 3px 14px -3px rgba(0, 0, 0, .75)

.mentor-profile__image
    border-radius 50%
    height 180px
    width 180px
    margin 40px

.mentor-profile__name
    color #39434D
    font-size 32px
    font-family 'proxima nova'
    text-align center

.mentor-profile__profession
    color #868E96
    font-size 20px
    text-align center

.mentor-profile__experience > *
    display inline-block

.mentor-profile__info > *
    display inline-block

