.title
    font-weight normal
    font-size 30px
    font-family Proxima
    margin-left 15%
    color #333

.hr
    width 150px
    border 4px solid #007BFF
    margin 5px 0 20px 15%

.topBarContainer
    width 70%
    margin auto
    display flex
    justify-content space-around
    margin-bottom 50px

.personalTaskContainer
    grid-column-start 1
    grid-column-end 8
    height 100%
    border 1px solid #c4c4c4
    border-radius 2px
    display grid
    grid-template-columns 1fr 20fr
    grid-template-rows 100%

.personalTasksTable
    width 70%
    margin auto
    display grid
    grid-template-columns repeat(10, 1fr)
    grid-row-gap 44px
    position relative

.personalTaskImage
    width 100%
    height 175px
    background-color #FBA237

.personalTaskMeta
    height 175px
    padding 14px 15px 15px 21px
    display flex
    flex-direction column
    justify-content space-between

.contactMentor
    width 130px
    font-size 20px
    color #FE5337
    text-decoration underline
    font-weight lighter

.titleWithTable
    display flex
    justify-content space-between
    align-items center

.personalTaskButton
    background-color #007BFF
    outline none
    padding 4px 10px
    border none
    border-radius 100px
    font-family Proxima
    font-size 20px
    color white
    margin auto

.personalTitle
    font-weight normal
    font-size 25px
    font-family Proxima
    color #333

.chosen
    background-color white
    border none
    outline none
    height 40px
    border-bottom 3px solid #007BFF
    font-family Proxima
    font-size 30px

.default
    background-color white
    border none
    outline none
    height 30px
    font-size 30px
    font-family Proxima

.personalTaskHr
    width 100%
    padding 0 20px
    border-bottom 2px solid #bbb
    height 9px

.smallTaskTitle
      font-size 23px
      font-family Proxima
      color #111
      display flex
      justify-content space-between

.smallTaskBio
    display flex
    align-items center
    font-size 18px
    color #666

.personalMentor
    position absolute
    right 0
    width 18vw
    height 300px
    border 1px solid black
    display flex
    flex-direction column
    padding 10px
    align-items center

.mentorImage
    width 100%
    height 40%
    border 1px solid gray

.inputContainer
    grid-column-start 1
    grid-column-end 8
    height 100%
    border 1px solid #c4c4c4
    display flex
    flex-direction column
    padding 10px 30px 20px 44px
    border-radius 2px
    box-shadow: 0px 2px 3px #686868

.inputTable
    width 70%
    margin auto
    display grid
    grid-template-columns repeat(11, 1fr)
    margin-top 68px
    margin-bottom 40px

.inputTitle
    font-size 25px
    color #333
    font-family Proxima

.inputTextTitle
    height 30px
    border 1px solid #C4C4C4
    margin-top 4px
    padding 0 15px
    font-family Proxima

.inputConditions
    display flex
    flex-direction row
    justify-content space-between
    width 100%
    align-items center

.inputPrice
    display flex
    flex-direction column
    align-items flex-start
    margin-right 15px

.inputTime
    display flex
    flex-direction column
    align-items flex-start

.inputPriceText
    font-family Proxima
    font-size 27px
    color #333

.inputTimeText
    font-family Proxima
    font-size 25px
    color #333

.inputTextPrice
    height 30px
    width 100%
    border 1px solid #C4C4C4
    padding-left 15px
    font-family Proxima

.inputTextTime
    height 30px
    width 100%
    border 1px solid #C4C4C4
    padding-left 15px
    font-family Proxima

.inputTextPrice
    height 30px
    width 100%
    border 1px solid #C4C4C4
    padding-left 15px
    font-family Proxima

.inputTextTag
    height 130px
    width 100%
    border 1px solid #C4C4C4
    padding-left 15px
    font-family Proxima

.inputButton
    background-color #007BFF
    border-radius 2px
    font-family Proxima
    font-size 20px
    color white
    padding 5px
    border none
    outline none
    margin-top 20px







