.time-line
    min-height 100vh
    min-width 100vw
    display inline-flex

.column
    margin 0 30px

.column-tags
    width 98%
    margin auto
    height 100%

.skill
    background #fff
    height 50px
    width 50px
    border-radius 50%
    display inline-block
    margin 10px 5px
