.time-line
    min-height 100vh
    min-width 100vw
    display inline-flex

.column
    margin 0 30px

.column-tags
    width 98%
    margin auto
    height 100%

.active-skill
    height 50px
    width 50px
    background #fff
    margin 5px
    border-radius 50%
    display inline-block
