.time-line
    min-height 100vh
    min-width 100vw
    display inline-flex

.column
    margin 0 30px

.column-header
    height 120px
    background black

.column-tags
    max-width 98%
    min-width 20%
    margin auto
    height 60%

.active-skill
    height 50px
    width 50px
    background #fff
    margin 5px
    border-radius 50%
    display inline-block

.add-items
    width 80%
    margin 10px auto
    height 30px
    background burlywood
    text-align center
    cursor pointer
