.task-type-modal
    position absolute
    margin auto
    background beige
    width 244px
    z-index 100
    display block
    cursor default

input[type='checkbox']
    display none

.types-icons
    width 70px
    position relative
    padding 5px
    margin auto

.task-type-icon
    height 50px
    width 50px
    background #fff
    margin 10px
    border-radius 50%
    display block

.task-type-icon:hover
    background rgba(0,0, 0, .1)

.task-date
    width 50%
    margin auto

.accept-tasktype-btn
    background coral
    text-align center
    width 90%
    margin 20px auto
    height 30px
    cursor pointer

