.task-type-modal
    position absolute
    margin 130px 0 0 52px
    background #fff
    -webkit-box-shadow 3px 4px 14px 0 rgba(0,0,0, .75)
    -moz-box-shadow 3px 4px 14px 0 rgba(0,0,0, .75)
    box-shadow 3px 4px 14px 0 rgba(0,0,0, .75)
    width 154px
    z-index 100
    display block
    cursor default

input[type='checkbox']
    display none

.types-icons
    width 70px
    position relative
    padding 5px
    margin auto

.task-type-icon
    height 50px
    width 50px
    background #fff
    margin 10px
    border-radius 50%
    display block

.task-type-icon > img
    height 50px
    width 50px
    margin 0

.task-type-icon > img:hover
    background rgba(0,0, 0, .1)

.task-date
    width 114px
    margin auto

.accept-tasktype-btn
    background coral
    text-align center
    width 90%
    margin 20px auto
    height 30px
    cursor pointer


.task-description__background
    position absolute
    height 100vh
    width 100%
    background rgba(0, 0, 0, .4)
    vertical-align middle

.task-description
    border-radius 3%
    vertical-align middle
    width 60%
    height 60vh
    margin 40px auto
    background beige
    padding 20px

.close-modal-btn
    float right
    cursor pointer
    width 30px
    height 50px

.close-modal-btn:hover
    opacity .6

.task-header
    width 70%
    margin 0 auto 20 0
    height 10%

.task-header > *
    width 100%

.task-content
    height 65%
    width 90%
    margin 20px auto

.task-content > *
    height 100%
    width 100%

.bottom-btn
    display inline-block
    height 50px
    width 70px

.bottom-btn:hover
    opacity .5

.complete-task-btn
    float right
