.image
    margin 0 0 10px 0

.header
    height 64px
    width 70%
    margin auto
    display flex
    justify-content space-between
    align-items center
    font-family Proxima
    font-size 20px
    margin-bottom 30px
