@font-face
    font-family Proxima
    src: url("../assets/ProximaNova.woff") format("woff")

.taskExchangeContainer
    width 70%
    margin auto

.smallTaskContainer
    grid-column-start 1
    grid-column-end 9
    height 100%
    border 1px solid #c4c4c4
    border-radius 2px
    display grid
    grid-template-columns 1fr 3.37fr
    grid-template-rows 100%

.smallTaskTable
    display grid
    grid-template-columns repeat(10, 1fr)
    grid-row-gap 44px

.smallTaskImage
    height 175px
    width 100%
    background-color #FBA237
    display flex
    justify-content center
    align-items center
    font-family Proxima
    font-weight normal
    font-size 20px
    color white

.smallTaskMeta
    padding 14px 15px 15px 21px
    display flex
    flex-direction column
    justify-content space-between

.smallTaskTitle
    font-size 23px
    font-family Proxima
    color #111
    display flex
    justify-content space-between

.smallTaskBio
    display flex
    align-items center
    font-size 18px
    color #666

.smallTaskButton
    background-color #007BFF
    outline none
    padding 4px 10px
    border none
    border-radius 2px
    font-family Proxima
    font-size 20px
    color white

.smallTaskPrice
    color #666

.smallTaskHr
    width 100%
    padding 0 20px
    border-bottom 2px solid #bbb
    height 9px

.title
    font-weight normal
    font-size 30px
    font-family Proxima
    margin-left 15%
    color #333

.hr
    width 100px
    border 4px solid #007BFF
    margin 5px 0 20px 15%

